!!!
%html(lang="en-au")
  %head
    %link(rel="stylesheet" href="/css/railscampteev7.css")
    %meta(charset="utf-8")
    %title RUBPOCALYPSE
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    %meta(name="viewport" content="width=1024")
  %body

    #intro
      .stars-1
      .stars-2
      .stars-3
      .stars-4
      .ground
        .dinos
      %p.words
        %span.sponsor With the support of thoughtworks
        %span.us @toolmantim and @waferbaby present
        %span.title RUBPOC<span class="a">A</span><span class="l">L</span>YPSE
      .comet-outer
        .comet
      .boom

    #order-form
      %header
        %hgroup
          %h1 Rubpocalypse
          %h2 The <a href="http://railscampteev5.toolmantim.com">sequel</a>. Available to all attendees of <a href="http://">Railscamp Byron 2011</a>
      %section
        .locked
          %h2 Unlock
          %form(action="/unlock")
            %input(type="text" title="password" name="password" placeholder="password")
        .unlocked
          %form(action="/order")
            %p &lt;insert order form here&gt;
      %footer
        %section
          %h1 Tee illustration by
          %p <a href="http://waferbaby.com">waferbaby</a>
        %section
          %h1 Sponsored by
          %p <a href="http://thoughtworks.com/">thoughtworks</a>
        %section
          %h1 Designed &amp; built by
          %p <a href="http://toolmantim.com">toolmantim</a>


    %script
      :plain
        document.querySelector("form").addEventListener("submit", function(e) {
          e.preventDefault();
          document.querySelector("#order-form > section").className += "unlocked";
        }, false);