!!!
%html(lang="en-au")
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/css/railscampteev7.css")
    %title RUBPOCALYPSE
    %script(src="http://use.typekit.com/wfr5ecw.js")
    %script try { Typekit.load(); } catch(e){ }
    %script(src="/js/jquery-1.6.1.min.js")
    %script(src="/js/underscore-1.1.6.min.js")
    %script(src="/js/backbone-0.3.3.min.js")
    %script(src="/js/soundmanager2-nodebug-jsmin.js")
    %script
      :plain
        soundManager.url = '/swf/';
        soundManager.useHTML5Audio = true;
        soundManager.onready(function() {
          soundManager.createSound('success','/sounds/success.mp3');
          soundManager.createSound('error','/sounds/error.mp3');
        });
    %script(src="/js/rubpocalypse.js")
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    %meta(name="viewport" content="width=1024")
  %body

    #intro
      .stars-1
      .stars-2
      .stars-3
      .stars-4
      .ground
        .dinos
      %p.words
        %span.sponsor With the support of thoughtworks
        %span.us @toolmantim and @waferbaby present
        %span.title RUBPOC<span class="a">A</span><span class="l">L</span>YPSE
      .comet-outer
        .comet
      .boom

    #order-form
      %header
        %hgroup
          %h1 Rubpocalypse
          %h2 The <a href="http://railscampteev5.toolmantim.com">sequel</a>, coming soon to all attendees of <a href="http://">Railscamp Byron 2011</a>
      %section.airlock
        .gate
          %form(action="/unlock")
            %h2 Unlo
            %label(for="password") Password
            %input(type="text" title="password" name="password" id="password" autocomplete="off")
          .top-door
          .bottom-door
        .form
          %form(action="/order")
            %p &lt;insert order form here&gt;
      %footer
        %section
          %h1 Illustration
          %p <a href="http://waferbaby.com">waferbaby</a>
        %section
          %h1 Sponsorship
          %p <a href="http://thoughtworks.com/">thoughtworks</a>
        %section
          %h1 Design &amp; build
          %p <a href="http://toolmantim.com">toolmantim</a>