!!!
%html
  %head
    %link(rel="stylesheet" href="/css/railscampteev7.css")
    %meta(name="viewport" content="width=1024, height=768px, initial-scale=1, maximum-scale=1")
  %body
    .scene
    -#   .ground
    -#   %p.words
    -#     %span.sponsor with the support of thoughtworks
    -#     %span.us @toolmantim and @waferbaby present
    -#     %span.title <em>the</em> RUBPOCALYPSE
    -# .comet-outer
    -#   .comet