!!!
%html(lang="en-au")
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/css/railscampteev7.css")
    %title RUBPOCALYPSE
    %script(src="http://use.typekit.com/wfr5ecw.js")
    %script try { Typekit.load(); } catch(e){ }
    %script(src="/js/jquery-1.6.1.min.js")
    %script(src="/js/underscore-1.1.6.min.js")
    %script(src="/js/backbone-0.3.3.min.js")
    %script(src="/js/audio.js")
    %script(src="/js/rubpocalypse.js")
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    %meta(name="viewport" content="width=1024")
  %body

    #intro
      .stars-1
      .stars-2
      .stars-3
      .stars-4
      .ground
        .dinos
      %p.words
        %span.sponsor With the support of thoughtworks
        %span.us @toolmantim and @waferbaby present
        %span.title RUBPOC<span class="a">A</span><span class="l">L</span>YPSE
      .comet-outer
        .comet
      .boom

    #order-form
      %header
        %hgroup
          %h1 Rubpocalypse
          %h2 The <a href="http://railscampteev5.toolmantim.com">sequel</a>, coming soon to all attendees of <a href="http://">Railscamp Byron 2011</a>
      .airlock
        %section.gate
          %form(action="/authorise" method="post")
            .wheel-outer
            .wheel-inner
            %h2 Unlock
            %label(for="password") Passphrase
            %input#password(type="text" title="password" name="password" autocomplete="off" maxlength="20")
          .top-door
          .bottom-door
        %section.form
          %form(action="/order" method="post")
            %header
              %h1
                Order module REV 138d5
                %span.status Idle
            %fieldset.cut
              %h1 Cut
              %label
                %input(type="radio" name="cut" value="f")
                %span Female
              %label
                %input(type="radio" name="cut" value="m")
                %span Male
            %fieldset.size
              %h1 Size
              %label
                %input(type="radio" name="size" value="xs")
                %span S
              %label
                %input(type="radio" name="size" value="s")
                %span XS
              %label
                %input(type="radio" name="size" value="m")
                %span M
              %label
                %input(type="radio" name="size" value="l")
                %span L
              %label
                %input(type="radio" name="size" value="xl")
                %span XL
              %label
                %input(type="radio" name="size" value="xl")
                %span 2XL
            %fieldset.personal
              %h1 Name & Email
              %label
                %span Name
                %input(type="text" name="name")
              %label
                %span Email
                %input(type="text" name="email")
            %fieldset.submit
              %input(type="submit" value="Transmit")

      %footer
        %section
          %h1 Illustration
          %p <a href="http://twitter.com/waferbaby">@waferbaby</a>
        %section
          %h1 Sponsorship
          %p <a href="http://thoughtworks.com/">thoughtworks</a>
        %section
          %h1 Design &amp; build
          %p <a href="http://twitter.com/toolmantim">@toolmantim</a>