%section.confirmation
  %hgroup
    %h1 Congratulations human
    %h2 You’ve secured tee #<span class="number">42</span>
  %p Please proceed to docking station RC9 to obtain your uniform
  .tee-1
  .tee-2
