%section.form
  %form(action="/order" method="post")
    %header
      %h1
        Order module REV 138d5
        %span.status Idle
    %fieldset.cut
      %h2 Cut
      %label
        %input(type="radio" name="cut" value="f")
        %span Female
      %label
        %input(type="radio" name="cut" value="m")
        %span Male
    %fieldset.size
      %h2 Size
      %label
        %input(type="radio" name="size" value="xs")
        %span S
      %label
        %input(type="radio" name="size" value="s")
        %span XS
      %label
        %input(type="radio" name="size" value="m")
        %span M
      %label
        %input(type="radio" name="size" value="l")
        %span L
      %label
        %input(type="radio" name="size" value="xl")
        %span XL
      %label
        %input(type="radio" name="size" value="xl")
        %span 2XL
    %fieldset.personal
      %h2 Name &amp; Email
      %label
        %input(type="text" name="name" title="Name" placeholder="NAME")
      %label
        %input(type="text" name="email" title="Email" placeholder="EMAIL")
    %fieldset.submit
      %input(type="submit" value="Transmit")