%section.gate
  %form(action="/authorise" method="post" onsubmit="return false")
    .wheel-outer
    .wheel-inner
    %h2 Unlock
    %label(for="password") Passphrase
    %input#password(type="text" title="password" name="password" autocomplete="off" maxlength="20")
  .top-door
  .bottom-door