#intro
  .stars-1
  .stars-2
  .stars-3
  .stars-4
  .ground
    .dinos
  %p.words
    %span.sponsor With the support of thoughtworks
    %span.us @toolmantim and @waferbaby present
    %span.title RUBPOC<span class="a">A</span><span class="l">L</span>YPSE
  .comet-outer
    .comet
  .boom