#intro
  .stars-1
  .stars-2
  .stars-3
  .stars-4
  .ground
    .dinos
  %p.words
    %span.sponsor <span class="support">With the support of</span> <span class="thoughtworks">thought<span class="works">works</span></span>
    %span.us <span class="toolmantim">toolmantim</span> <span class="and">&amp;</span> <span class="waferbaby">waferbaby</span> <span class="present">proudly present</span>
    %span.title RUBPOC<span class="a">A</span><span class="l">L</span>YPSE
  .comet-outer
    .comet
  .boom