#order
  %header
    %hgroup
      %h1 Rubpocalypse
      %h2 The <a href="http://railscampteev5.toolmantim.com">sequel</a>, coming soon to all attendees of <a href="http://">Railscamp Byron 2011</a>

  .airlock
    = partial :gate
    = partial :form

  %footer
    %section
      %h1 Illustration
      %p <a href="http://twitter.com/waferbaby">@waferbaby</a>
    %section
      %h1 Sponsorship
      %p <a href="http://thoughtworks.com/">thoughtworks</a>
    %section
      %h1 Design &amp; build
      %p <a href="http://twitter.com/toolmantim">@toolmantim</a>