!!!
/
  :plain
    ______ _   _____________ _____ _____   ___   _   __   _______  _____ _____ 
    | ___ \ | | | ___ \ ___ \  _  /  __ \ / _ \ | |  \ \ / / ___ \/  ___|  ___|
    | |_/ / | | | |_/ / |_/ / | | | /  \// /_\ \| |   \ V /| |_/ /\ `--.| |__  
    |    /| | | | ___ \  __/| | | | |    |  _  || |    \ / |  __/  `--. \  __| 
    | |\ \| |_| | |_/ / |   \ \_/ / \__/\| | | || |____| | | |    /\__/ / |___ 
    \_| \_|\___/\____/\_|    \___/ \____/\_| |_/\_____/\_/ \_|    \____/\____/
    
               ~ Loving designed & built for RC9 by @toolmantim ~
  
    Don't fret if you don't know the secret password! You'll just have to wait
    a few days until we have the orders then I'll post an update to Twitter
    with it and you can all go nuts.
  
    This little site was built exclusively for the discerning internet user. It
    assumes you're using a modern browser such as Chrome, Safari, Opera or IE9.

    If you want to pop the hood mosy over to:
    http://github.com/toolmantim/railscamptee-v7
    
    There you'll find some jQuery, Backbone, Modernizr, Sinatra, HAML, Stylus,
    and plenty of shiny CSS3.
    
    For the best experience across the widest range of browser I've tried to
    stick with transitions for the main ordering interface, and used animations
    exclusively for the intro.
    
    This site lives on Heroku, because Heroku \m/ it.
%html.intro-animating(lang="en-au")
  %head
    %meta(charset="utf-8")
    %link{:rel => "stylesheet", :href => asset_path("/home.css")}
    %title RUBPOCALYPSE
    %script{:src => asset_path("/vendor/modernizer.js")}
    %script== yepnope(#{javascripts.to_json});
    %script(src="http://use.typekit.com/wfr5ecw.js")
    %script try { Typekit.load(); } catch(e){ }
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    %meta(name="viewport" content="width=1024")
  %body
    = partial :intro
    = partial :order