!!!
%html(lang="en-au")
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/home.css")
    %title RUBPOCALYPSE
    %script(src="http://use.typekit.com/wfr5ecw.js")
    %script try { Typekit.load(); } catch(e){ }
    %script(src="/vendor/jquery-1.6.1.min.js")
    %script(src="/vendor/underscore-1.1.6.min.js")
    %script(src="/vendor/backbone-0.3.3.min.js")
    %script(src="/vendor/audio.js")
    %script(src="/js/rubpocalypse.js")
    %script(src="/js/sounds.js")
    %script(src="/js/views/form.js")
    %script(src="/js/views/gate.js")
    %script(src="/js/views/confirmation.js")
    %script(src="/js/views/order.js")
    %script(src="/js/home.js")
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    %meta(name="viewport" content="width=1024")
  %body
    = partial :intro
    = partial :order
