!!!
/
  :plain
    ______ _   _____________ _____ _____   ___   _   __   _______  _____ _____ 
    | ___ \ | | | ___ \ ___ \  _  /  __ \ / _ \ | |  \ \ / / ___ \/  ___|  ___|
    | |_/ / | | | |_/ / |_/ / | | | /  \// /_\ \| |   \ V /| |_/ /\ `--.| |__  
    |    /| | | | ___ \  __/| | | | |    |  _  || |    \ / |  __/  `--. \  __| 
    | |\ \| |_| | |_/ / |   \ \_/ / \__/\| | | || |____| | | |    /\__/ / |___ 
    \_| \_|\___/\____/\_|    \___/ \____/\_| |_/\_____/\_/ \_|    \____/\____/
    
               ~ Loving designed & built for RC9 by @toolmantim ~
  
    Don't fret if you don't know the secret password! You'll just have to wait
    a few days until we have the orders then I'll post an update to Twitter
    with it and you can all go nuts.
  
    This little site was built exclusively for the discerning internet user. It
    assumes you're using a modern browser such as Chrome, Safari, Opera or IE9.

    If you want to pop the hood mosy over to:
    http://github.com/toolmantim/railscamptee-v7
    
    There you'll find some jQuery, Backbone, Modernizr, Sinatra, HAML, Stylus,
    and plenty of shiny CSS3.
    
    FF Din Rounded is the champion typeface (served via typekit), Strangelove
    features in the Pablo Ferro-esque titles, and Killer Elephant gives the
    logo type it's oomph. These all cost money, I used my own moola, so please
    don't steal them. That would be lame.
    
    For the best experience across the widest range of browsers I've tried to
    stick with transitions for the main ordering interface, and used animations
    exclusively for the intro.
    
    The only images in the whole site are the tee graphics, and that damned
    sky. I did a purely CSS-gradient version of the sky (every star was a radial
    gradient) but it hosed every single browser.
    
    This site lives on Heroku, because Heroku \m/ it.
    
    Muchos gracias to @waferbaby for being awesome, and helping out with the
    tee illustration!
%html.intro-animating(lang="en-au")
  %head
    %meta(charset="utf-8")
    %link{:rel => "stylesheet", :href => asset_path("/home.css")}
    %title RUBPOCALYPSE
    %script{:src => asset_path("/vendor/modernizer.js")}
    %script== yepnope(#{javascripts.to_json});
    %script(src="http://use.typekit.com/wfr5ecw.js")
    %script try { Typekit.load(); } catch(e){ }
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    %meta(name="viewport" content="width=1024")
  %body
    = partial :intro
    = partial :order