html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "StrangeloveText";
  src: url("/fonts/eot/1626c9487abafddb5c3d190117a8b518.eot");
  src: url("/fonts/eot/1626c9487abafddb5c3d190117a8b518.eot?#iefix") format("embedded-opentype"), url("/fonts/woff/1626c9487abafddb5c3d190117a8b518.woff") format("woff"), url("/fonts/ttf/1626c9487abafddb5c3d190117a8b518.ttf") format("truetype"), url("/fonts/svg/1626c9487abafddb5c3d190117a8b518.svg#StrangeloveText") format("svg");
}
@font-face {
  font-family: "KILLERELEPHANT";
  src: url("/fonts/eot/50493f78985b1f34bb991014e72588b3.eot");
  src: url("/fonts/eot/50493f78985b1f34bb991014e72588b3.eot?#iefix") format("embedded-opentype"), url("/fonts/woff/50493f78985b1f34bb991014e72588b3.woff") format("woff"), url("/fonts/ttf/50493f78985b1f34bb991014e72588b3.ttf") format("truetype"), url("/fonts/svg/50493f78985b1f34bb991014e72588b3.svg#KILLERELEPHANT") format("svg");
}
.intro {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00162f), color-stop(1, #004763)) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  -webkit-animation: zoomie 20.1s 1 linear forwards, fade-out 5s 20.130000000000003s 1 linear forwards;
}
.intro .stars-1,
.intro .stars-2,
.intro .stars-3,
.intro .stars-4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.intro .stars-1 {
  background-image: url("/images/sky1.png");
  background-position: 90px 0;
}
.intro .stars-2 {
  background-image: url("/images/sky2.png");
  background-position: 50px 0;
}
.intro .stars-3 {
  background-image: url("/images/sky3.png");
  background-position: 40px 0;
}
.intro .stars-4 {
  background-image: url("/images/sky4.png");
  background-position: 0 0;
}
.intro .ground {
  width: 100%;
  height: 150px;
  background-color: #008000;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.intro .ground .dinos {
  width: 510px;
  height: 325px;
  background: transparent url("/images/dinos.png") no-repeat;
  position: absolute;
  left: 5%;
  bottom: 50px;
  z-index: 3;
}
.intro .words {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "StrangeloveText";
}
.intro .words > * {
  display: block;
  position: absolute;
  text-align: center;
  top: 45%;
  left: -1%;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.intro .words .sponsor {
  opacity: 0;
  -webkit-animation: sponsor 30s 1 linear forwards;
  -webkit-transform: rotate(2deg);
  font-size: 110px;
}
.intro .words .us {
  opacity: 0;
  -webkit-animation: us 30s 1 linear forwards;
  -webkit-transform: rotate(2deg);
  font-size: 90px;
  font-size: 120px;
}
.intro .words .title {
  top: 35%;
  opacity: 0;
  -webkit-animation: title 30s 1 linear forwards;
  font: 220px "KILLERELEPHANT";
}
.intro .words .title .a {
  letter-spacing: 10px;
}
.intro .words .title .l {
  letter-spacing: -30px;
}
.intro .comet-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: comet 30s 1 linear forwards;
}
.intro .comet-outer .comet {
  position: absolute;
  top: 0;
  left: 0;
  width: 174px;
  height: 184px;
  z-index: 4;
  -webkit-transform: scale(1.5);
  background: transparent url("/images/comet.png") no-repeat;
}
.intro .boom {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: #fff;
  -webkit-animation: fade-in 250ms 19.2s linear forwards;
  opacity: 0;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes zoomie {
  0% {
    -webkit-transform: translate3d(-25%, -25%, 0) scale(1) rotate(-13deg);
  }

  100% {
    -webkit-transform: translate3d(-25%, -25%, 0) scale(0.5) rotate(0);
  }
}
@-webkit-keyframes stars {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes sponsor {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  13% {
    opacity: 1;
  }

  14% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes us {
  0% {
    opacity: 0;
  }

  17% {
    opacity: 0;
  }

  21% {
    opacity: 1;
  }

  29% {
    opacity: 1;
  }

  34% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes title {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  48% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes comet {
  0% {
    -webkit-transform: translate3d(90%, -30%, 0);
  }

  60% {
    -webkit-transform: translate3d(90%, -30%, 0);
  }

  62% {
    -webkit-transform: translate3d(20%, 110%, 0);
  }

  100% {
    -webkit-transform: translate3d(20%, 110%, 0);
  }
}
html,
body {
  height: 100%;
}
body {
  background-image: url("/images/sky1.png"), url("/images/sky2.png"), url("/images/sky3.png"), url("/images/sky4.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, #00162f), color-stop(1, #004763));
  background-repeat: repeat-x repeat-y, repeat-x repeat-y, repeat-x repeat-y, repeat-x repeat-y, no-repeat;
  background-position: 90px 0, 50px 0, 40px 0, 0 0, top left;
  background-size: 145px 145px, 115px 115px, 95px 95px, 85px 85px, auto auto;
}
body {
  overflow: hidden;
}
