html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "StrangeloveText";
  src: url("/fonts/eot/1626c9487abafddb5c3d190117a8b518.eot");
  src: url("/fonts/eot/1626c9487abafddb5c3d190117a8b518.eot?#iefix") format("embedded-opentype"), url("/fonts/woff/1626c9487abafddb5c3d190117a8b518.woff") format("woff"), url("/fonts/ttf/1626c9487abafddb5c3d190117a8b518.ttf") format("truetype"), url("/fonts/svg/1626c9487abafddb5c3d190117a8b518.svg#StrangeloveText") format("svg");
}
@font-face {
  font-family: "KILLERELEPHANT";
  src: url("/fonts/eot/50493f78985b1f34bb991014e72588b3.eot");
  src: url("/fonts/eot/50493f78985b1f34bb991014e72588b3.eot?#iefix") format("embedded-opentype"), url("/fonts/woff/50493f78985b1f34bb991014e72588b3.woff") format("woff"), url("/fonts/ttf/50493f78985b1f34bb991014e72588b3.ttf") format("truetype"), url("/fonts/svg/50493f78985b1f34bb991014e72588b3.svg#KILLERELEPHANT") format("svg");
}
html,
body {
  height: 100%;
}
html {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00162f), color-stop(1, #004763)) no-repeat;
}
body {
  overflow: hidden;
}
.scene {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/sky1.png");
  background-position: 1% 0;
  width: 200%;
  height: 200%;
  -webkit-animation: zoomie 6s 1 linear forwards;
  z-index: 1;
}
.scene:before {
  background-image: url("/images/sky2.png");
  background-position: 1% 0;
  height: 100%;
  width: 100%;
  content: " ";
  display: block;
}
.scene:after {
  background-image: url("/images/sky3.png");
  background-position: 1.4% 0;
  height: 100%;
  width: 100%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.scene .scene-inner {
  background-image: url("/images/sky4.png");
  background-position: 1.4% 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0 a;
}
.ground {
  width: 100%;
  height: 150px;
  background-color: #008000;
  position: absolute;
  bottom: 0;
  z-index: 4;
}
.words {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "StrangeloveText";
}
.words > * {
  display: block;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.words .sponsor {
  opacity: 0;
  -webkit-animation: us 10s 1 linear forwards;
  -webkit-transform: rotate(4deg);
  font-size: 110px;
}
.words .us {
  opacity: 0;
  -webkit-animation: sponsor 10s 1 linear forwards;
  -webkit-transform: rotate(2deg);
  font-size: 90px;
  font-size: 120px;
}
.words .title {
  top: 35%;
  opacity: 0;
  -webkit-animation: title 10s 1 linear forwards;
  font: 220px "KILLERELEPHANT";
}
.words .title em {
  font: normal 160px "StrangeloveText";
  margin-right: -0.2em;
  position: relative;
  top: -0.28em;
}
.comet-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transform: translateY(150%) translateX(-80%);
  -webkit-animation: comet 0.15s 6.5s 1 ease-in;
}
.comet-outer .comet {
  width: 174px;
  height: 184px;
  background: transparent url("/images/comet.png") no-repeat;
  position: absolute;
  bottom: 100%;
  left: 80%;
  z-index: 3;
}
@-webkit-keyframes zoomie {
  0% {
    -webkit-transform: translateZ(0) translateX(-25%) translateY(-25%) scale(1) rotate(-10deg);
  }

  100% {
    -webkit-transform: translateZ(0) translateX(-25%) translateY(-25%) scale(0.5) rotate(0);
  }
}
@-webkit-keyframes us {
  0% {
    opacity: 0;
  }

  11% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  18% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes sponsor {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  26% {
    opacity: 1;
  }

  36% {
    opacity: 1;
  }

  38% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes title {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  56% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes comet {
  0% {
    -webkit-transform: translateY(0) translateX(0);
  }

  100% {
    -webkit-transform: translateY(150%) translateX(-80%);
  }
}
