@font-face
  font-family: 'StrangeloveText';
  src: url('fonts/eot/1626c9487abafddb5c3d190117a8b518.eot');
  src: url('fonts/eot/1626c9487abafddb5c3d190117a8b518.eot?#iefix') format('embedded-opentype'), url('fonts/woff/1626c9487abafddb5c3d190117a8b518.woff') format('woff'), url('fonts/ttf/1626c9487abafddb5c3d190117a8b518.ttf') format('truetype'), url('fonts/svg/1626c9487abafddb5c3d190117a8b518.svg#StrangeloveText') format('svg');

@font-face
  font-family: 'KILLERELEPHANT';
  src: url('fonts/eot/50493f78985b1f34bb991014e72588b3.eot');
  src: url('fonts/eot/50493f78985b1f34bb991014e72588b3.eot?#iefix') format('embedded-opentype'), url('fonts/woff/50493f78985b1f34bb991014e72588b3.woff') format('woff'), url('fonts/ttf/50493f78985b1f34bb991014e72588b3.ttf') format('truetype'), url('fonts/svg/50493f78985b1f34bb991014e72588b3.svg#KILLERELEPHANT') format('svg');

$strangelove = 'StrangeloveText', georgia
$killerelephant = 'KILLERELEPHANT', "Helvetica Neue", helvetica, sans-serif
$din-rounded = 'ff-din-round-web-1', 'ff-din-round-web-2', "Helvetica Neue", helvetica, sans-serif
