#order
  color white
  width 768px
  margin 50px auto
  border 2px solid $cyan
  border-radius 50px
  background-color rgba(0,0,0,.3)
  box-shadow 0 0 25px $cyan
  font-family $din-rounded
  text-align center
  
  a
    color #bce1ed
    text-decoration none
    &:hover
      color #72dcff
    &:active
      color #00c0ff

  > header
    padding-top 50px
    padding-bottom 40px
    border-bottom 2px solid $cyan
    h1
      font 60px $killerelephant
      line-height 1
      position relative
      display inline-block
      .a
        letter-spacing 10px
      .l
        letter-spacing -30px
      &:after
        content ' '
        background transparent url('/images/comet.png') 0 0 no-repeat
        background-size 64px 68px
        width 64px
        height 68px
        position absolute
        top -25px
        right -85px
    h2
      margin-top 15px
      font-size 16px
    
  > .airlock
    height 390px
    position relative
      
  > footer
    border-top 2px solid $cyan
    margin-left auto
    margin-right auto
    padding-left 30px
    padding-right 30px
    padding-top 40px
    padding-bottom 50px
    text-transform uppercase
    section
      display inline-block
      width 30%
      h1
        font-size 11px
        margin-bottom 5px
      p
        font-size 18px
        
@import "_order_form"
@import "_order_gate"