#order > .airlock > .gate
  width 100%
  height 100%
  position absolute
  &.unlocked
    form
      transition all 250ms ease-out
      transform scale(1, 0)
    .top-door, .bottom-door
      transition height 600ms 180ms
      height 0%
  .top-door, .bottom-door
    position absolute
    left 0
    height 50%
    width 100%
    background-color rgba($cyan, 0.3)
    z-index 1
  .top-door
    top -1px
    border-bottom 1px solid $cyan
  .bottom-door
    border-top 1px solid $cyan
    bottom -1px
  form
    position relative
    top 173px
    width 200px
    height 44px
    margin 0 auto
    z-index 2
    input, label
      position absolute
      top 0
      left 0
      width 100%
      text-align center
      padding 5px 10px
      font-size 18px
    input
      z-index 3
    label
      position absolute
      top 10px
      left 0
      z-index 4
      text-transform uppercase
      line-height 1
      transition all 95ms
      &.hidden
        transform scale(0,1)
    .wheel-outer, .wheel-inner
      position absolute
      background -webkit-gradient(linear, 0 0, 0 100%, color-stop(.33, rgba($cyan, .4)), color-stop(.33, transparent), to(transparent)), #0e5a81
      background -webkit-linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
      background -moz-linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
      background -o-linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
      background linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
      border 2px solid $cyan
    .wheel-outer
      background-size 11px 11px, auto auto
      width 80px
      height 80px
      border-radius 49px
      top -19px
      left 70px
      transform rotate(0deg)
    .wheel-inner
      background-size 11px 11px, auto auto
      width 58px
      height 58px
      border-radius 29px
      top -8px
      left 81px
      transform rotate(0deg)

  &.verifying
    .wheel-inner, .wheel-outer
      transition all 10s linear
    .wheel-inner
      transform rotate(-405deg)
    .wheel-outer
      transform rotate(405deg)
    label
      color $cyan
  &.error
    .wheel-inner, .wheel-outer
      background rgba($error-color, .25)
      border-color $error-color
    label
      color $error-color
    input
      border-color $error-color
  &.success
    .wheel-inner, .wheel-outer
      background rgba($success-color, .25)
      border-color $success-color
    label
      color $success-color
    input
      border-color $success-color
  
  h2
    offscreen()