html.cssanimations.intro-animating #order
  opacity 0
  -webkit-animation fade-in-order 6s time(.685) linear forwards

#order
  color white
  width 768px
  margin 50px auto
  border 2px solid $cyan
  border-radius 50px
  background-color rgba(0,0,0,.3)
  box-shadow 0 0 25px $cyan
  font-family $din-rounded
  text-align center
  position relative
  opacity 1
  
  a
    color $light-cyan
    text-decoration none
    &:hover, &:active
      color #bce1ed

  > header
    padding-top 50px
    padding-bottom 40px
    border-bottom 2px solid $cyan
    h1
      font 60px $killerelephant
      line-height 1
      position relative
      display inline-block
      .a
        letter-spacing 10px
      .l
        letter-spacing -30px
      &:after
        content ' '
        background transparent url('/images/comet.png') 0 0 no-repeat
        background-size 64px 68px
        width 64px
        height 68px
        position absolute
        top -18px
        right -82px
    h2
      margin-top 15px
      text-transform uppercase
      color $light-cyan
      font-size 13px
    
  > .airlock
    height 390px
    position relative
      
  > footer
    border-top 2px solid $cyan
    margin-left auto
    margin-right auto
    padding-left 30px
    padding-right 30px
    padding-top 40px
    padding-bottom 50px
    text-transform uppercase
    section
      display inline-block
      width 30%
      h1
        font-size 11px
        margin-bottom 5px
        color white
      p
        font-size 18px
        
  #pbj
    position absolute
    top -90px
    right 28px
    transition top 250ms ease-in
    cursor pointer
    &.boppin
      right 58px
      top -37px
    &:hover
      -webkit-animation jumpin 405ms infinite
      
@keyframes jumpin
  from
    -webkit-transform translateY(0)
    -webkit-animation-timing-function ease-out
  50%
    -webkit-transform translateY(-10px)
    -webkit-animation-timing-function ease-in
  to
    -webkit-transform translateY(0)

@keyframes fade-in-order
  from
    opacity 0
  to
    opacity 1