$cyan = #00c0ff
$light-cyan = #7cc2d9
$input-background-color = #134869
$input-background-color-active = #0c729d
$error-color = #ff4c27
$success-color = #2aff00

offscreen()
  display none

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

transition()
  vendor('transition', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

background-size()
  vendor('background-size', arguments)

box-shadow()
  box-shadow arguments
  -webkit-box-shadow arguments
  -moz-box-shadow arguments

@import "_reset"
@import "_fonts"
@import "_intro"
@import "_order"
@import "order/_form"
@import "order/_gate"
@import "order/_confirmation"

input[type='text']
  outline none
  border 2px solid $cyan
  background $input-background-color
  font 14px $din-rounded
  border-radius 5px
  color white
  line-height 1
  padding 9px 8px 7px 8px
  &::-webkit-input-placeholder
    color white

html, body
  min-height 100%

html.cssanimations.intro-animating
  &, body
    height 100%
  body
    overflow hidden

body
  background-image url('/images/sky1.png'), url('/images/sky2.png'), url('/images/sky3.png'), url('/images/sky4.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #00162f), color-stop(1, #004763))
  background-image url('/images/sky1.png'), url('/images/sky2.png'), url('/images/sky3.png'), url('/images/sky4.png'), -webkit-linear-gradient(top left, #00162f, #004763)
  background-image url('/images/sky1.png'), url('/images/sky2.png'), url('/images/sky3.png'), url('/images/sky4.png'), -moz-linear-gradient(top left, #00162f, #004763)
  background-image url('/images/sky1.png'), url('/images/sky2.png'), url('/images/sky3.png'), url('/images/sky4.png'), -o-linear-gradient(top left, #00162f, #004763)
  background-image url('/images/sky1.png'), url('/images/sky2.png'), url('/images/sky3.png'), url('/images/sky4.png'), linear-gradient(top left, #00162f, #004763)
  background-repeat repeat, repeat, repeat, repeat, no-repeat
  background-position 90px 0, 50px 0, 40px 0, 0 0, top left
  background-size 145px 145px, 115px 115px, 95px 95px, 85px 85px, auto auto