#order-form
  color white
  width 768px
  margin 50px auto
  border 2px solid $cyan
  border-radius 50px
  background-color rgba(0,0,0,.3)
  box-shadow 0 0 25px $cyan
  font-family $din-rounded
  text-align center
  
  a
    color #bce1ed
    text-decoration none
    &:hover
      color #72dcff
    &:active
      color #00c0ff

  > header
    padding-top 50px
    padding-bottom 40px
    border-bottom 2px solid $cyan
    h1
      font 60px $killerelephant
      line-height 1
      position relative
      display inline-block
      .a
        letter-spacing 10px
      .l
        letter-spacing -30px
      &:after
        content ' '
        background transparent url('/images/comet.png') 0 0 no-repeat
        background-size 64px 68px
        width 64px
        height 68px
        position absolute
        top -25px
        right -85px
    h2
      margin-top 15px
      font-size 16px
    
  > .airlock
    height 390px
    position relative
    &.unlocked
      .gate
        form
          transition all 200ms
          transform scale(1, 0)
        .top-door, .bottom-door
          transition height 600ms 180ms
          height 0%
      .form
        form
          transform scale(1,1)
          transition all 150ms
          transition-delay 700ms
        
    .gate
      width 100%
      height 100%
      position absolute
      .top-door, .bottom-door
        position absolute
        left 0
        height 50%
        width 100%
        background-color rgba($cyan, 0.3)
        z-index 1
      .top-door
        top -1px
        border-bottom 1px solid $cyan
      .bottom-door
        border-top 1px solid $cyan
        bottom -1px
      form
        position relative
        top 173px
        width 200px
        height 44px
        margin 0 auto
        z-index 2
        input, label
          position absolute
          top 0
          left 0
          width 100%
          text-align center
          padding 5px 10px
          font-size 18px
        input
          z-index 3
        label
          position absolute
          top 10px
          left 0
          z-index 4
          text-transform uppercase
          line-height 1
          transition all 95ms
          &.hidden
            transform scale(0,1)
        .wheel-outer, .wheel-inner
          position absolute
          background -webkit-gradient(linear, 0 0, 0 100%, color-stop(.33, rgba($cyan, .4)), color-stop(.33, transparent), to(transparent)), #0e5a81
          background -webkit-linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
          background -moz-linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
          background -o-linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
          background linear-gradient(top, rgba($cyan, .4) 33%, transparent 33%, transparent), #0e5a81
          border 2px solid $cyan
        .wheel-outer
          background-size 11px 11px, auto auto
          width 80px
          height 80px
          border-radius 49px
          top -19px
          left 70px
          transform rotate(0deg)
        .wheel-inner
          background-size 11px 11px, auto auto
          width 58px
          height 58px
          border-radius 29px
          top -8px
          left 81px
          transform rotate(0deg)

      &.verifying
        .wheel-inner, .wheel-outer
          transition all 10s linear
        .wheel-inner
          transform rotate(-405deg)
        .wheel-outer
          transform rotate(405deg)
        label
          color $cyan
      &.error
        .wheel-inner, .wheel-outer
          background rgba($error-color, .25)
          border-color $error-color
        label
          color $error-color
        input
          border-color $error-color
      &.success
        .wheel-inner, .wheel-outer
          background rgba($success-color, .25)
          border-color $success-color
        label
          color $success-color
        input
          border-color $success-color
          
      h2
        offscreen()
    .form
      position absolute
      background-image -webkit-gradient(linear, 0 0, 0 100%, color-stop(.33, rgba($cyan,.13)), color-stop(.33, transparent), to(transparent))
      background-size 3px 3px
      height 100%
      width 100%
      form
        position absolute
        top 60px
        left 95px
        width 540px
        height 230px
        background-color rgba($cyan,.3)
        border 1px solid $cyan
        box-shadow 0 0 15px rgba($cyan, .3)
        transform scale(1,0)
        border-radius 20px
        padding 18px 20px 0 20px
        text-align left
        header
          text-transform uppercase
          font-size 12px
          color $cyan
          text-align left
          .status
            float right
        fieldset
          &.cut, &.size, &.personal label
            position relative
            display inline-block
            width 268px
          &.cut, &.size
            margin-bottom 10px
            h1
              offscreen()
            label
              height 80px
              width 40px
              overflow hidden
              display inline-block
              span
                opacity 0
                width 0
                overflow hidden
                display inline-block
          &.personal
            h1
              offscreen()
            label
              position relative
              span
                position absolute
                top 13px
                left 12px
                text-transform uppercase
                font 15px/1 $din-rounded
              input
                width 220px
          &.submit
            input
              position absolute
              margin 0
              padding 15px 0
              left -1px
              bottom -1px
              border 2px solid $cyan
              background $input-background-color
              font 24px $din-rounded
              border-radius 5px
              color white
              line-height 1
              text-transform uppercase
              text-align center
              width 582px
              border-radius 0
              border-bottom-left-radius 20px
              border-bottom-right-radius 20px
              cursor pointer
      
  > footer
    border-top 2px solid $cyan
    margin-left auto
    margin-right auto
    padding-left 30px
    padding-right 30px
    padding-top 40px
    padding-bottom 50px
    text-transform uppercase
    section
      display inline-block
      width 30%
      h1
        font-size 11px
        margin-bottom 5px
      p
        font-size 18px