@import "reset"
@import "fonts"

$intro-duration = 30
@import "intro"

html, body
  height 100%

body
  background-image url('/images/sky1.png'), url('/images/sky2.png'), url('/images/sky3.png'), url('/images/sky4.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #00162f), color-stop(1, #004763))
  background-repeat repeat-x repeat-y, repeat-x repeat-y, repeat-x repeat-y, repeat-x repeat-y, no-repeat
  background-position 90px 0, 50px 0, 40px 0, 0 0, top left
  background-size 145px 145px, 115px 115px, 95px 95px, 85px 85px, auto auto

body
  overflow hidden

.intro
  display none

.order
  .tee
    margin 150px auto 0 auto
    width 393px
    height 417px
    background transparent url('/images/tee.png')
    position relative
    cursor pointer
    .inner
      position absolute
      width 100%
      height 100%
      background transparent url('/images/tee.png') 0 -417px
      opacity .05
      -webkit-transition opacity 200ms
      &:hover
        opacity .15